.input-group {
  margin-bottom: 20px;
  padding: 5px;
  margin-top: 5px;
}

.input-label {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 5px;
}
