.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.product-info {
  display: flex;
  align-items: center;
}

.product-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

.chat-product-details {
  display: flex;
  flex-direction: column;
}

.chat-product-title {
  font-weight: bold;
}

.chat-product-price {
  color: #a435f0;
  font-weight: bold;
}

.chat-seller-info {
  font-weight: bold;
}
