.chat-list-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 94%; /* 왜인지 모르겠지만 100%로 하면 footer 영역까지 침범함 */
  overflow-y: auto;
}

.chat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
}

.chat-item-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.chat-item-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
  object-fit: cover;
}

.chat-item-content {
  display: flex;
  flex-direction: column;
  width: 15rem; /* 임시방편으로 가로길이 설정*/
}

.chat-item-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.chat-item-message {
  font-size: 14px;
  color: #666;
  margin: 4px 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.unread-message-cnt {
  display: flex; /* Flexbox 레이아웃 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  background-color: purple; /* 보라색 배경 */
  width: 1.5rem; /* 너비 설정 */
  height: 1.5rem; /* 높이 설정 */
  border-radius: 50%; /* 동그란 모양 만들기 */
  color: white; /* 텍스트 색상 흰색 */
  font-size: 0.875rem; /* 텍스트 크기 조정 */
  font-weight: bold; /* 텍스트 굵게 설정 */
  visibility: hidden; /* 기본적으로 보이지 않도록 설정 */
}

.unread-message-cnt.visible {
  visibility: visible; /* visible 클래스가 추가되면 보이도록 설정 */
}
