.members-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* 화면 전체 높이를 채우도록 설정 */
  padding: 1rem; /* 양쪽 여백을 위한 패딩 */
  box-sizing: border-box; /* 패딩을 포함한 전체 크기 조정 */
}

.members-layout > * {
  width: 100%;
  max-width: 25rem; /* 최대 너비를 25rem (400px)로 설정 */
}

.header-button-img {
  height: 0.9375rem; /* 15px을 0.9375rem으로 변경 */
  width: 0.9375rem; /* 15px을 0.9375rem으로 변경 */
}

.header-button {
  border: 0.0625rem solid #f8f8f8; /* 1px을 0.0625rem으로 변경 */
  border-radius: 0.3125rem; /* 5px을 0.3125rem으로 변경 */
  background-color: transparent;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease;
  display: flex; /* 중앙 정렬을 위해 flex 사용 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
}

.header-button:active {
  background-color: #e0e0e0; /* 버튼이 눌렸을 때의 배경색 */
  box-shadow: inset 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2); /* 2px 2px 5px을 0.125rem 0.125rem 0.3125rem으로 변경 */
}
