/* ProductDetails.css */
.product-details {
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-details p {
  font-size: 0.9rem;
  color: #555;
  margin: 4px 0;
}

.product-details strong {
  font-weight: bold;
  color: #333;
}
