.header {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 10px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.header_left,
.header_right {
  flex: 1;
}

.header_center {
  flex: 8;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.header_left {
  text-align: left;
}

.header_right {
  text-align: right;
}
