.header {
  width: 100%; /* 부모 컨테이너에 맞게 너비를 100%로 설정 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.625rem; /* 10px을 0.625rem으로 변경 */
  border-bottom: 0.0625rem solid #e0e0e0; /* 1px을 0.0625rem으로 변경 */
}

.header_left,
.header_right {
  flex: 1;
}

.header_center {
  flex: 8;
  text-align: center;
  font-size: 1.125rem; /* 18px을 1.125rem으로 변경 */
  font-weight: bold;
  color: #000;
}

.header_left {
  text-align: left;
}

.header_right {
  text-align: right;
}
