/* 전체 배경 설정 */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8; /* 배경 색상 설정 */
}

#root {
  width: 360px;
  height: 100%;
}
